@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #D9D9D9;
  --background-end-rgb: #D9D9D9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: salmon;
}
